.chart {
  flex: 2;
  background: white;
  border-radius: 18px;
  padding: 22px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  height: 360px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      font-size: 18px;
      font-weight: 600;
      color: #444;
    }

    .filter {
      padding: 8px 12px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background: #f5f5f5;
      cursor: pointer;
      font-size: 14px;
      transition: 0.2s;

      &:hover {
        background: #ececec;
      }
    }
  }
}
