.home {
  display: flex;
  width: 100%;
  height: 100vh; 
  background: #f5f6fa; 

  .homeContainer {
    flex: 6;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 

    .widgets, .charts {
        display: flex;
        padding: 20px;
        gap: 20px;
    }

    .charts {
        padding-top: 0 !important;
    }

    .listContainer {
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      background: white;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);

      .listTitle {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
  }
}
