.settings {
  display: flex;
  width: 100%;
  background: #fafafa;

  .settingsContainer {
    flex: 6;

    /* Center only the content, not the entire container */
    .contentWrapper {
      width: 100%;
      max-width: 900px;
      margin: 0 auto; /* This fix centers it */
    }
  }
}
