.featured{
  flex: 1;
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  min-height: 300px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;

        .title{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .bottom{
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .featuredChart{
            width: 100px;
            height: 100px;
        }

        .title{
            font-weight: 500;
            color: gray;
        }

        .amount{
            font-size: 30px;
        }

        .desc{
            font-weight: 300;
            font-size: 12px;
            color: gray;
            text-align: center;
        }

        .summary{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item{
                text-align: center;

                .itemTitle{
                    font-size: 14px;
                    color: gray;
                }

                .itemResult{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;

                    &.positive{
                        color: green;
                    }

                    &.negative{
                        color: red;
                    }
                }
            }
        }
    }
}